@import url(https://fonts.googleapis.com/css?family=Molle:400italic);
	
body{
    background-color:#FCBAF8;
}


h1 {
	font-style: cursive;
	font-family: Molle, Arial;
	font-weight: 400;
	font-size: 30px;
	color: #E80C7A;
	text-align:center;

}

p {
	font-family: arial;
	font-size: 15px;
	color: #000000;
	margin: 2em;

}
#slogan {
	font-family: arial;
	font-style: italic;
	text-align: center;
	font-size: 18px;
    color: #000000;
}

